*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header p {
    line-height: 1.5rem;
}

h2 {
    padding: 10px;
    background-color: #ddd;
    text-align: center;
}

.flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.flag {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    margin: 10px;
    padding: 2px;
    width: 12vw;
    min-width: 100px;
}

.flag > div {
    border: 3px solid black;
}

.flag > div:hover {
    box-shadow: -1px 0 black,
        0 1px black,
        1px 0 black,
        0 -1px black
}

.flag p {
    font-size: 1rem;
    text-align: center;
    margin: .5rem;
}

.hide {
    display: none;
}

.scale-medium {
    width: 250px;
}

.scale-large {
    width: 500px;
}

.scale-x-large {
    width: 1000px;
}