*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header p {
    line-height: 1.5rem;
}

h2 {
    padding: 10px;
    background-color: #ddd;
    text-align: center;
}

.flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.flag {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    margin: 10px;
    padding: 2px;
    width: 10vw;
    min-width: 150px;
}

.flag > div[id] {
    border: 3px solid black;
}

.flag > div[id]:hover {
    box-shadow: -1px 0 black,
        0 1px black,
        1px 0 black,
        0 -1px black;
}

.flag p {
    font-size: 1.1rem;
    text-align: center;
    margin: .5rem;
}

.flag .ratios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.flag .ratios li {
    margin: 0;
    padding: 4px 4%;
    list-style: none;
}

.flag .ratios li a {
    padding: 2px 8px;
    border: 1px solid;
    text-decoration: none;
}

.flag .ratios li a:hover {
    background-color: #CCE6FF;
}

.scale-medium {
    width: 250px;
}

.scale-large {
    width: 500px;
}

.scale-x-large {
    width: 1000px;
}