#armenia {
    aspect-ratio: 2 / 1;
    position: relative;
    background-color: #0033A0;
}

#armenia::before,
#armenia::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#armenia::before {
    background-color: #D90012;
}

#armenia::after {
    bottom: 0;
    background-color: #F2A800;
}