/* Bahrain */

#flag-bh {
    aspect-ratio: 5 / 3;
    position: relative;
    background: linear-gradient(to right,
        #fff 0 40%,
        #CE1126 40% 100%);
}

#flag-bh .poly {
    width: 75%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #CE1126;
    -webkit-clip-path: polygon(
        100% 0,
        0 0,
        20% 10%,
        0 20%,
        20% 30%,
        0 40%,
        20% 50%,
        0 60%,
        20% 70%,
        0 80%,
        20% 90%,
        0 100%,
        100% 100%);
    clip-path: polygon(
        100% 0,
        0 0,
        20% 10%,
        0 20%,
        20% 30%,
        0 40%,
        20% 50%,
        0 60%,
        20% 70%,
        0 80%,
        20% 90%,
        0 100%,
        100% 100%);
}