/* Kuwait */

#flag-kw {
    aspect-ratio: 2 / 1;
    background: linear-gradient(to bottom,
        #007A3D calc(100% / 3),
        #fff calc(100% / 3) calc(100% / 1.5),
        #CE1126 calc(100% / 1.5));
}

#flag-kw > .poly {
    position: relative;
    width: 25%;
    height: 100%;
    background: #000;
    -webkit-clip-path: polygon(0 0,
        100% calc(100% / 3),
        100% calc(200% / 3),
        0 100%);
    clip-path: polygon(0 0,
        100% calc(100% / 3),
        100% calc(200% / 3),
        0 100%);
}