/* Kuwait */

#flag-kw {
    aspect-ratio: 2 / 1;
    position: relative;
    background-color: #fff;
}

#flag-kw::before,
#flag-kw::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#flag-kw::before {
    background-color: #007A3D;
}

#flag-kw::after {
    bottom: 0;
    background-color: #CE1126;
}

#flag-kw > div {
    position: relative;
    width: 25%;
    height: 100%;
    background: #000;
    -webkit-clip-path: polygon(0 0,
        100% calc(100% / 3),
        100% calc(200% / 3),
        0 100%);
    clip-path: polygon(0 0,
        100% calc(100% / 3),
        100% calc(200% / 3),
        0 100%);
    z-index: 1;
}