#flag-sg {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;

    /* measurement units according to construction sheet */
    --unit-x: calc(100% / 54);
    --unit-y: calc(100% / 36);
}

#flag-sg::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: #EE2536;
}

#flag-sg .cres {
    aspect-ratio: 1 / 1;
    height: calc(var(--unit-y) * 13.25);
    background-color: #fff;
    position: absolute;
    top: 25%;
    left: calc(var(--unit-x) * 4.78);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-radius: 50%;
}

#flag-sg .cres::after {
    content: '';
    aspect-ratio: 1 / 1;
    height: 100%;
    background-color: #EE2536;
    position: absolute;
    left: calc(150% / 6.625);
    border-radius: 50%;
}

#flag-sg div:not(.cres) {
    aspect-ratio: 1 / 1;
    height: calc(var(--unit-y) * 3.45);
    position: absolute;
    background-color: #fff;
    /* 5-pointed star measured by box */
    -webkit-clip-path: polygon(50% 0%,
        61.8% 36.32%,
        100% 36.32%,
        69.1% 58.78%,
        80.9% 95.1%,
        50% 72.65%,
        19.1% 95.1%,
        30.9% 58.78%,
        0% 36.32%,
        38.2% 36.32%);
    clip-path: polygon(50% 0%,
        61.8% 36.32%,
        100% 36.32%,
        69.1% 58.78%,
        80.9% 95.1%,
        50% 72.65%,
        19.1% 95.1%,
        30.9% 58.78%,
        0% 36.32%,
        38.2% 36.32%);
}

#flag-sg .star1 {
    top: calc(var(--unit-y) * 5.2);
    left: calc(var(--unit-x) * 15.03);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#flag-sg .star2 {
    top: calc(var(--unit-y) * (9 - (3.8 * sin(18deg))));
    left: calc(var(--unit-x) * (15.03 - (3.8 * cos(18deg))));
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#flag-sg .star3 {
    top: calc(var(--unit-y) * (9 - (3.8 * sin(18deg))));
    left: calc(var(--unit-x) * (15.03 + (3.8 * cos(18deg))));
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#flag-sg .star4 {
    top: calc(var(--unit-y) * (9 + (3.8 * sin(54deg))));
    left: calc(var(--unit-x) * (15.03 - (3.8 * cos(54deg))));
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#flag-sg .star5 {
    top: calc(var(--unit-y) * (9 + (3.8 * sin(54deg))));
    left: calc(var(--unit-x) * (15.03 + (3.8 * cos(54deg))));
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}