/* Yemen */

#flag-ye {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#flag-ye::before,
#flag-ye::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#flag-ye::before {
    background-color: #CE1126;
}

#flag-ye::after {
    bottom: 0;
    background-color: #000;
}