/* State of Palestine */

#flag-ps {
    aspect-ratio: 2 / 1;
    background: linear-gradient(to bottom,
        #000 calc(100% / 3),
        #fff calc(100% / 3) calc(100% / 1.5),
        #009736 calc(100% / 1.5));
}

#flag-ps .poly {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    background: #EE2A35;
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}