/* Thailand */

#flag-th {
    aspect-ratio: 3 / 2;
    background-color: #A51931;
}

#flag-th div {
    height: calc(200% / 3);
    position: relative;
    top: calc(100% / 6);
    background-color: #fff;
}

#flag-th div::after {
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
    top: 25%;
    background-color: #2D2A4A;
}