/* Maldives */

#flag-mv {
    aspect-ratio: 3 / 2;
    background-color: #D21034;
}

#flag-mv .rect {
    width: calc(100% / 1.5);
    height: 50%;
    position: relative;
    top: 25%;
    left: calc(100% / 6);
    background-color: #007E3A;
}

#flag-mv .cres {
    aspect-ratio: 1 / 1;
    height: calc(100% / 1.5);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 56.25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#flag-mv .cres::after {
    content: '';
    aspect-ratio: 1 / 1;
    height: 100%;
    background-color: #007E3A;
    position: absolute;
    top: 50%;
    left: 68.75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}