#pakistan {
    aspect-ratio: 3 / 2;
    background-color: #fff;
}

#pakistan .rect {
    width: 75%;
    height: 100%;
    position: relative;
    left: 25%;
    background-color: #00401A;
}

#pakistan .cres {
    aspect-ratio: 1 / 1;
    height: 60%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%)
        rotate(-41.63deg);
    transform: translate(-50%, -50%)
        rotate(-41.63deg);
    border-radius: 50%;
}

#pakistan .cres::after {
    /* measurements according to construction sheet */
    content: '';
    aspect-ratio: 1 / 1;
    height: calc((100% / 6) * 5.5);
    background-color: #00401A;
    position: absolute;
    top: 50%;
    left: calc(50% + ((100% / 6) * 1.0259966115));
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#pakistan .star {
    aspect-ratio: 1 / 1;
    height: 20%;
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%)
        rotate(48.37deg);
    transform: translate(-50%, -50%)
        rotate(48.37deg);
    -webkit-transform-origin: 50% 150%;
    transform-origin: 50% 150%;
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
}