#palestine {
    aspect-ratio: 2 / 1;
    position: relative;
    background-color: #fff;
}

#palestine::before,
#palestine::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#palestine::before {
    background-color: #000;
}

#palestine::after {
    bottom: 0;
    background-color: #009736;
}

#palestine > div {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    background: #EE2A35;
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    z-index: 1;
}