#thailand {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#thailand::before {
    content: '';
    height: calc(100% / 6);
    width: 100%;
    position: absolute;
    background-color: #A51931;
}

#thailand::after {
    content: '';
    height: calc(100% / 6);
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #A51931;
}

#thailand > div {
    width: 100%;
    height: calc(100% / 3);
    position: absolute;
    top: calc(100% / 3);
    background-color: #2D2A4A;
}