#turkey {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #E30A17;
}

#turkey > .cres {
    aspect-ratio: 1 / 1;
    height: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 37.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#turkey > .cres::after {
    content: '';
    aspect-ratio: 1 / 1;
    height: 80%;
    background-color: #E30A17;
    position: absolute;
    top: 50%;
    left: 62.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#turkey > .star {
    aspect-ratio: 1 / 1;
    height: 25%;
    position: absolute;
    top: 50%;
    left: calc((100% / 3) * 1.5);
    -webkit-transform: translate(0, -50%)
        rotate(270deg);
    transform: translate(0, -50%)
        rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#turkey > .star::after {
    content: '';
    width: 100%;
    /* account for 4.9% empty space @ bottom */
    height: 104.9%;
    position: absolute;
    background-color: #fff;
    -webkit-clip-path: polygon(50% 0%,
        61.8% 36.32%,
        100% 36.32%,
        69.1% 58.78%,
        80.9% 95.1%,
        50% 72.65%,
        19.1% 95.1%,
        30.9% 58.78%,
        0% 36.32%,
        38.2% 36.32%);
    clip-path: polygon(50% 0%,
        61.8% 36.32%,
        100% 36.32%,
        69.1% 58.78%,
        80.9% 95.1%,
        50% 72.65%,
        19.1% 95.1%,
        30.9% 58.78%,
        0% 36.32%,
        38.2% 36.32%);
}