#u-arab-emirates {
    aspect-ratio: 2 / 1;
    position: relative;
    background-color: #fff;
}

#u-arab-emirates::before {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
    background-color: #00843D;
}

#u-arab-emirates::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #000;
}

#u-arab-emirates > div {
    position: relative;
    width: 25%;
    height: 100%;
    background: #f00;
    z-index: 1;
}