#benin {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #008850;
}

#benin::before,
#benin::after {
    content: '';
    height: 50%;
    width: 60%;
    position: absolute;
    left: 40%;
}

#benin::before {
    background-color: #FCD20F;
}

#benin::after {
    bottom: 0;
    background-color: #E90929;
}