#chad {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #FECB00;
}

#chad::before {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
    background-color: #002664;
}

#chad::after {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
    right: 0;
    background-color: #C60C30;
}