#cote-divoire {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#cote-divoire::before,
#cote-divoire::after {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
}

#cote-divoire::before {
    background-color: #F77F00;
}

#cote-divoire::after {
    right: 0;
    background-color: #009E60;
}