#djibouti {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #6AB2E7;
}

#djibouti::after {
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #12AD2B;
}

#djibouti .poly {
    /* equilateral triangle based on height of flag */
    height: 100%;
    width: calc((50% / 1.5) * tan(60deg));
    position: relative;
    background-color: #fff;
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    z-index: 1;
}

#djibouti .star {
    aspect-ratio: 1 / 1;
    height: 27.25%;
    position: absolute;
    /* position in the centre of the equilateral triangle */
    top: 50%;
    left: calc((50% / 1.5) * tan(30deg));
    background-color: #D7141A;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    z-index: 1;
}