/* Rwanda */

#flag-rw {
    aspect-ratio: 3 / 2;
    position: relative;
    background: linear-gradient(to bottom,
        #00A3E0 0 50%,
        #FAD201 50% 75%,
        #20603D 75% 100%);
}

#flag-rw .star {
    aspect-ratio: 1 / 1;
    height: calc(131.25% / 4.0625);
    position: absolute;
    top: 10%;
    right: calc(175% / 24.375);
    background-color: #E5BE01;
    /* Rwanda-specific 24-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        52.02% 34.66%,
        62.94% 1.7%,
        55.92% 35.7%,
        75% 6.7%,
        59.42% 37.72%,
        85.36% 14.64%,
        62.28% 40.58%,
        93.3% 25%,
        64.3% 44.08%,
        98.3% 37.06%,
        65.34% 47.98%,
        100% 50%,
        65.34% 52.02%,
        98.3% 62.94%,
        64.3% 55.92%,
        93.3% 75%,
        62.28% 59.42%,
        85.36% 85.36%,
        59.42% 62.28%,
        75% 93.3%,
        55.92% 64.3%,
        62.94% 98.3%,
        52.02% 65.34%,
        50% 100%,
        47.98% 65.34%,
        37.06% 98.3%,
        44.08% 64.3%,
        25% 93.3%,
        40.58% 62.28%,
        14.64% 85.36%,
        37.72% 59.42%,
        6.7% 75%,
        35.7% 55.92%,
        1.7% 62.94%,
        34.66% 52.02%,
        0% 50%,
        34.66% 47.98%,
        1.7% 37.06%,
        35.7% 44.08%,
        6.7% 25%,
        37.72% 40.58%,
        14.64% 14.64%,
        40.58% 37.72%,
        25% 6.7%,
        44.08% 35.7%,
        37.06% 1.7%,
        47.98% 34.66%);
    clip-path: polygon(50% 0%,
        52.02% 34.66%,
        62.94% 1.7%,
        55.92% 35.7%,
        75% 6.7%,
        59.42% 37.72%,
        85.36% 14.64%,
        62.28% 40.58%,
        93.3% 25%,
        64.3% 44.08%,
        98.3% 37.06%,
        65.34% 47.98%,
        100% 50%,
        65.34% 52.02%,
        98.3% 62.94%,
        64.3% 55.92%,
        93.3% 75%,
        62.28% 59.42%,
        85.36% 85.36%,
        59.42% 62.28%,
        75% 93.3%,
        55.92% 64.3%,
        62.94% 98.3%,
        52.02% 65.34%,
        50% 100%,
        47.98% 65.34%,
        37.06% 98.3%,
        44.08% 64.3%,
        25% 93.3%,
        40.58% 62.28%,
        14.64% 85.36%,
        37.72% 59.42%,
        6.7% 75%,
        35.7% 55.92%,
        1.7% 62.94%,
        34.66% 52.02%,
        0% 50%,
        34.66% 47.98%,
        1.7% 37.06%,
        35.7% 44.08%,
        6.7% 25%,
        37.72% 40.58%,
        14.64% 14.64%,
        40.58% 37.72%,
        25% 6.7%,
        44.08% 35.7%,
        37.06% 1.7%,
        47.98% 34.66%);
}

#flag-rw .circ {
    aspect-ratio: 1 / 1;
    height: calc(162.5% / 5.25);
    position: relative;
    top: 50%;
    left: 50%;
    background-color: #00A3E0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#flag-rw .circ::after {
    content: '';
    aspect-ratio: 1 / 1;
    height: calc(143.75% / 1.625);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #E5BE01;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}