/* Madagascar */

#flag-mg {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#flag-mg div {
    height: 100%;
    width: calc(200% / 3);
    position: absolute;
    right: 0;
}

#flag-mg div::before,
#flag-mg div::after {
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
}

#flag-mg div::before {
    background-color: #FC3D32;
}

#flag-mg div::after {
    bottom: 0;
    background-color: #007E3A;
}