/* Mali */

#flag-ml {
    aspect-ratio: 3 / 2;
    position: relative;
    background: linear-gradient(to right,
        #14B53A calc(100% / 3),
        #FCD116 calc(100% / 3) calc(100% / 1.5),
        #CE1126 calc(100% / 1.5));
}