/* South Sudan */

#flag-ss {
    aspect-ratio: 2 / 1;
    position: relative;
    background: linear-gradient(to bottom,
        #000 0 50%,
        #078930 50% 100%);
}

#flag-ss .rect {
    /* measurement according to construction sheet */
    height: calc(calc(100% / 57) * 23);
    width: 100%;
    position: relative;
    top: 50%;
    background-color: #fff;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#flag-ss .rect::after {
    content: '';
    /* measurement according to construction sheet */
    height: calc((100% / 23) * 17);
    width: 100%;
    position: absolute;
    top: 50%;
    background-color: #DA121A;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#flag-ss .poly {
    /* equilateral triangle based on height of flag */
    height: 100%;
    width: calc((50% / 2) * tan(60deg));
    position: absolute;
    top: 0;
    background-color: #0F47AF;
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

#flag-ss .star {
    aspect-ratio: 1 / 1;
    height: calc(100% / 3);
    position: absolute;
    /* position in the centre of the equilateral triangle */
    top: 50%;
    left: calc((50% / 2) * tan(30deg));
    background-color: #FCDD09;
    -webkit-transform: translate(-50%, -50%)
        rotate(270deg);
    transform: translate(-50%, -50%)
        rotate(270deg);
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
}