/* Ghana */

#flag-gh {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #FCD20F;
}

#flag-gh::before,
#flag-gh::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#flag-gh::before {
    background-color: #CF0921;
}

#flag-gh::after {
    bottom: 0;
    background-color: #006B3D;
}

#flag-gh div {
    /* measurements according to construction sheet */
    aspect-ratio: 1 / 1;
    width: calc((100% / 18) * 4.422291236);
    position: absolute;
    top: calc(50% + ((100% / 12) * .211145618));
    left: 50%;
    background-color: #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
}