/* Libya */

#flag-ly {
    aspect-ratio: 2 / 1;
    position: relative;
    background-color: #000;
}

#flag-ly::before,
#flag-ly::after {
    content: '';
    height: 25%;
    width: 100%;
    position: absolute;
}

#flag-ly::before {
    background-color: #E70013;
}

#flag-ly::after {
    bottom: 0;
    background-color: #239E46;
}

#flag-ly .cres {
    aspect-ratio: 1 / 1;
    height: 25%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#flag-ly .cres::after {
    /* measurements according to construction sheet */
    content: '';
    aspect-ratio: 1 / 1;
    height: calc((100% / 6) * 5.213203436);
    background-color: #000;
    position: absolute;
    top: 50%;
    left: calc(100% / 6);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-radius: 50%;
}

#flag-ly .star {
    /* measurements according to construction sheet */
    aspect-ratio: 1 / 1;
    height: calc((100% / 24) * 4.460976414);
    position: absolute;
    top: 50%;
    left: calc(50% + ((100% / 48) * 3.689258762));
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%)
        rotate(270deg);
    transform: translate(-50%, -50%)
        rotate(270deg);
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
}