/* Cameroon */

#flag-cm {
    aspect-ratio: 3 / 2;
    position: relative;
    background: linear-gradient(to right,
        #007A5E calc(100% / 3),
        #CE1126 calc(100% / 3) calc(100% / 1.5),
        #FCD116 calc(100% / 1.5));
}

#flag-cm .star {
    aspect-ratio: 1 / 1;
    width: calc(100% / 4.5);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FDD116;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* 5-pointed star measured by box */
    -webkit-clip-path: polygon(50% 0%,
        61.8% 36.32%,
        100% 36.32%,
        69.1% 58.78%,
        80.9% 95.1%,
        50% 72.65%,
        19.1% 95.1%,
        30.9% 58.78%,
        0% 36.32%,
        38.2% 36.32%);
    clip-path: polygon(50% 0%,
        61.8% 36.32%,
        100% 36.32%,
        69.1% 58.78%,
        80.9% 95.1%,
        50% 72.65%,
        19.1% 95.1%,
        30.9% 58.78%,
        0% 36.32%,
        38.2% 36.32%);
}