/* Burkina Faso */

#flag-bf {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #009E49;
}

#flag-bf::before {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: #EF2B2D;
}

#flag-bf div {
    aspect-ratio: 1 / 1;
    width: calc(100% / 4.5);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #FCD116;
    transform: translate(-50%, -50%);
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    z-index: 1;
}