/* Democratic Republic of the Congo */

#flag-cd {
    aspect-ratio: 4 / 3;
    position: relative;
    background-color: #007FFF;
    overflow: hidden;

    /* measurement units according to construction sheet */
    --unit-x: calc(100% / 20);
    --unit-y: calc(100% / 15);
}

#flag-cd .star {
    width: 27%;
    height: 34.2%;
    position: relative;
    top: calc(var(--unit-y) * .9);
    left: calc(var(--unit-x) * 1.03);
}

#flag-cd .star::after {
    content: '';
    width: 100%;
    /* account for 4.9% empty space @ bottom */
    height: 104.9%;
    position: absolute;
    background-color: #F7D618;
    /* 5-pointed star measured by box */
    -webkit-clip-path: polygon(50% 0%,
        61.8% 36.32%,
        100% 36.32%,
        69.1% 58.78%,
        80.9% 95.1%,
        50% 72.65%,
        19.1% 95.1%,
        30.9% 58.78%,
        0% 36.32%,
        38.2% 36.32%);
    clip-path: polygon(50% 0%,
        61.8% 36.32%,
        100% 36.32%,
        69.1% 58.78%,
        80.9% 95.1%,
        50% 72.65%,
        19.1% 95.1%,
        30.9% 58.78%,
        0% 36.32%,
        38.2% 36.32%);
}

#flag-cd .rect {
    height: calc(var(--unit-y) * 2.96);
    width: 125%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #F7D618;
    transform:
        translate(-50%, -50%)
        /* unfortunately a visual estimate */
        rotate(-31.75deg);
}

#flag-cd .rect::after {
    content: '';
    height: 75%;
    width: 100%;
    position: absolute;
    top: 12.5%;
    background-color: #CE1021;
}