/* United Republic of Tanzania */

#flag-tz {
    aspect-ratio: 3 / 2;
    background: linear-gradient(146.31deg,
        #1EB53A 0 50%,
        #00A3DD 50% 100%);
    overflow: hidden;
}

#flag-tz .rect {
    /* measurement according to construction sheet */
    height: calc(calc(100% / 48) * 19);
    width: 125%;
    position: relative;
    left: 50%;
    top: 50%;
    background-color: #FCD116;
    -webkit-transform: translate(-50%, -50%)
        rotate(-33.69deg);
    transform: translate(-50%, -50%)
        rotate(-33.69deg);
}

#flag-tz .rect::after {
    /* measurement according to construction sheet */
    --unit-y: calc(100% / 19);

    content: '';
    height: calc(var(--unit-y) * 13);
    width: 100%;
    position: absolute;
    top: calc(var(--unit-y) * 3);
    background-color: #000;
}