#gambia {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#gambia::before,
#gambia::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#gambia::before {
    background-color: #CE1126;
}

#gambia::after {
    bottom: 0;
    background-color: #3A7728;
}

#gambia > div {
    height: calc(100% / 4.5);
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: #0C1C8C;
}