#ghana {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #FCD20F;
}

#ghana::before {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
    background-color: #CF0921;
}

#ghana::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #006B3D;
}

#ghana > div {
    aspect-ratio: 1 / 1;
    /* account for 2.45% empty space top and bottom */
    height: calc((104.9% / 3));
    position: absolute;
    top: 50%;
    left: 50%;
    left: calc((100% / 3) * 1.5);
    background-color: #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(50% 2.45%,
        61.8% 38.77%,
        100% 38.77%,
        69.1% 61.23%,
        80.9% 97.55%,
        50% 75.1%,
        19.1% 97.55%,
        30.9% 61.23%,
        0% 38.77%,
        38.2% 38.77%);
    clip-path: polygon(50% 2.45%,
        61.8% 38.77%,
        100% 38.77%,
        69.1% 61.23%,
        80.9% 97.55%,
        50% 75.1%,
        19.1% 97.55%,
        30.9% 61.23%,
        0% 38.77%,
        38.2% 38.77%);
}