#nigeria {
    aspect-ratio: 2 / 1;
    background-color: #008753;
}

#nigeria > div {
    width: calc(100% / 3);
    height: 100%;
    position: relative;
    left: calc(100% / 3);
    background-color: #fff;
}