#r-the-congo {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #FBDE4A;
}

#r-the-congo::before {
    content: '';
    height: 100%;
    width: calc(200% / 3);
    position: absolute;
    background-color: #009543;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

#r-the-congo::after {
    content: '';
    height: 100%;
    width: calc(200% / 3);;
    position: absolute;
    right: 0;
    background-color: #DC241F;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}