#sierra-leone {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#sierra-leone::before,
#sierra-leone::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#sierra-leone::before {
    background-color: #1EB53A;
}

#sierra-leone::after {
    bottom: 0;
    background-color: #0072C6;
}