#tunisia {
    aspect-ratio: 3 / 2;
    background-color: #E70013;
}

#tunisia .circ {
    aspect-ratio: 1 / 1;
    width: calc(100% / 3);
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#tunisia .cres {
    aspect-ratio: 1 / 1;
    height: 75%;
    background-color: #E70013;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    border-radius: 50%;
}

#tunisia .cres::after {
    content: '';
    aspect-ratio: 1 / 1;
    height: 80%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: calc(50% + (200% / 15));
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#tunisia .star {
    aspect-ratio: 1 / 1;
    height: 45%;
    position: absolute;
    top: 50%;
    left: 37.5%;
    background-color: #E70013;
    -webkit-transform: translate(0, -50%)
        rotate(270deg);
    transform: translate(0, -50%)
        rotate(270deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
}