#tonga {
    aspect-ratio: 2 / 1;
    background-color: #C10000;
}

#tonga div {
    width: calc(125% / 3);
    height: 50%;
    position: relative;
    background-color: #fff;
}

#tonga div::before,
#tonga div::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #C10000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#tonga div::before {
    width: 45%;
    height: 25%;
}

#tonga div::after {
    width: 15%;
    height: 75%;
}