#estonia {
    aspect-ratio: 5 / 3;
    position: relative;
    background-color: #000;
}

#estonia::before,
#estonia::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#estonia::before {
    background-color: #0072CE;
}

#estonia::after {
    bottom: 0;
    background-color: #fff;
}