/* Finland */

#flag-fi {
    aspect-ratio: 18 / 11;
    position: relative;
    background-color: #fff;

    /* measurement units according to construction sheet */
    --unit-x: calc(100% / 18);
    --unit-y: calc(100% / 11);
}

#flag-fi div {
    background-color: #002F6C;
}

#flag-fi .rect1 {
    height: calc(var(--unit-y) * 3);
    position: relative;
    top: calc(var(--unit-y) * 4);
}

#flag-fi .rect2 {
    width: calc(var(--unit-x) * 3);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--unit-x) * 5);
}