/* Bulgaria */

#flag-bg {
    aspect-ratio: 5 / 3;
    position: relative;
    background-color: #00966E;
}

#flag-bg::before,
#flag-bg::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#flag-bg::before {
    background-color: #fff;
}

#flag-bg::after {
    bottom: 0;
    background-color: #D62612;
}