/* Lithuania */

#flag-lt {
    aspect-ratio: 5 / 3;
    position: relative;
    background-color: #006a44;
}

#flag-lt::before,
#flag-lt::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#flag-lt::before {
    background-color: #FDB913;
}

#flag-lt::after {
    bottom: 0;
    background-color: #c1272d;
}