/* Greece */

#flag-gr {
    aspect-ratio: 3 / 2;
    background: repeating-linear-gradient(to bottom,
        #0D5EAF 0 calc(100% / 9),
        #fff calc(100% / 9) calc(100% / 4.5));
}

#flag-gr .cross {
    width: calc(125% / 3.375);
    height: calc(125% / 2.25);
    position: relative;
    background-color: #0D5EAF;
}

#flag-gr .cross .rect1 {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 40%;
    background-color: #fff;
}

#flag-gr .cross .rect2 {
    width: 20%;
    /* +1% accounts for visual glitches */
    height: 101%;
    position: absolute;
    left: 40%;
    background-color: #fff;
}