/* United Kingdom */

#flag-gbr {
    aspect-ratio: 2 / 1;
    position: relative;
    background-color: #012169;
    overflow: hidden;
}

#flag-gbr[data-aspect-ratio="3:5"] {
    aspect-ratio: 5 / 3;
}

#flag-gbr .rect1,
#flag-gbr .rect2 {
    height: 20%;
    width: 125%;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff;
}

#flag-gbr .rect1 {
    -webkit-transform:
        translate(-50%, -50%)
        rotate(26.565deg);
    transform:
        translate(-50%, -50%)
        rotate(26.565deg);
}

#flag-gbr[data-aspect-ratio="3:5"] .rect1 {
    -webkit-transform:
        translate(-50%, -50%)
        rotate(30.964deg);
    transform:
        translate(-50%, -50%)
        rotate(30.964deg);
}

#flag-gbr .rect2 {
    -webkit-transform:
        translate(-50%, -50%)
        rotate(-26.565deg);
    transform:
        translate(-50%, -50%)
        rotate(-26.565deg);
}

#flag-gbr[data-aspect-ratio="3:5"] .rect2 {
    -webkit-transform:
        translate(-50%, -50%)
        rotate(-30.964deg);
    transform:
        translate(-50%, -50%)
        rotate(-30.964deg);
}

#flag-gbr .rect1::before,
#flag-gbr .rect2::before {
    content: '';
    height: calc(100% / 3);
    width: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #C8102E;
    z-index: 1;
}

#flag-gbr .rect1::after,
#flag-gbr .rect2::after {
    content: '';
    height: calc(100% / 3);
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    background-color: #C8102E;
    z-index: 1;
}

#flag-gbr .rect3 {
    height: calc(100% / 3);
    position: relative;
    top: 50%;
    background-color: #fff;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 1;
}

#flag-gbr .rect3::after {
    content: '';
    height: 60%;
    width: 100%;
    position: absolute;
    top: 20%;
    background-color: #C8102E;
}

#flag-gbr .rect4 {
    width: calc(100% / 6);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #fff;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

#flag-gbr[data-aspect-ratio="3:5"] .rect4 {
    width: 20%;
}

#flag-gbr .rect5 {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #C8102E;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 1;
}

#flag-gbr[data-aspect-ratio="3:5"] .rect5 {
    width: 12%;
}