/* France */

#flag-fr {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#flag-fr::before,
#flag-fr::after {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
}

#flag-fr::before {
    background-color: #0055A4;
}

#flag-fr::after {
    right: 0;
    background-color: #EF4135;
}