/* Estonia */

#flag-ee {
    aspect-ratio: 5 / 3;
    position: relative;
    background-color: #000;
}

#flag-ee::before,
#flag-ee::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
}

#flag-ee::before {
    background-color: #0072CE;
}

#flag-ee::after {
    bottom: 0;
    background-color: #fff;
}