/* Georgia */

#flag-ge {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #f00;
}

#flag-ge .cross {
    width: calc(162.5% / 3.75);
    height: 40%;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
}

#flag-ge .cross:nth-child(2),
#flag-ge .cross:nth-child(4)
{
    right: 0;
}

#flag-ge .cross:nth-child(3),
#flag-ge .cross:nth-child(4) {
    bottom: 0;
}

#flag-ge .cross div {
    position: absolute;
    overflow: hidden;
    width: 160%;
    height: 260%;
}

#flag-ge .cross .pt1 {
    bottom: 50%;
    left: -30%;
}

#flag-ge .cross .pt1::before,
#flag-ge .cross .pt2::before,
#flag-ge .cross .pt3::before,
#flag-ge .cross .pt4::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}

#flag-ge .cross .pt1::before,
#flag-ge .cross .pt2::before {
    box-shadow: 0 0 0 100vh #f00;
}

#flag-ge .cross .pt3::before,
#flag-ge .cross .pt4::before {
    box-shadow: 0 0 0 100vw #f00;
}

#flag-ge .cross .pt1::before {
    bottom: calc(125% / 52);
}

#flag-ge .cross .pt1::after,
#flag-ge .cross .pt2::after,
#flag-ge .cross .pt3::after,
#flag-ge .cross .pt4::after {
    content: '';
    width: calc(168.75% / 3.25);
    height: calc(168.75% / 3.25);
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

#flag-ge .cross .pt1::after {
    bottom: calc(125% / 13);
    left: 50%;
    transform: translate(-50%);
}

#flag-ge .cross .pt2 {
    top: 50%;
    left: -30%;
}

#flag-ge .cross .pt2::before {
    top: calc(125% / 52);
}

#flag-ge .cross .pt2::after {
    top: calc(125% / 13);
    left: 50%;
    transform: translate(-50%);
}

#flag-ge .cross .pt3 {
    top: -80%;
    right: 50%;
}

#flag-ge .cross .pt3::before {
    right: calc(125% / 52);
}

#flag-ge .cross .pt3::after {
    top: 50%;
    right: calc(125% / 13);
    transform: translate(0, -50%);
}

#flag-ge .cross .pt4 {
    top: -80%;
    left: 50%;
}

#flag-ge .cross .pt4::before {
    left: calc(125% / 52);
}

#flag-ge .cross .pt4::after {
    top: 50%;
    left: calc(125% / 13);
    transform: translate(0, -50%);
}