#france {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#france::before {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
    background-color: #0055A4;
}

#france::after {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
    right: 0;
    background-color: #EF4135;
}