#italy {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #F4F5F0;
}

#italy::before {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
    background-color: #008C45;
}

#italy::after {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
    right: 0;
    background-color: #CD212A;
}