#luxembourg {
    aspect-ratio: 5 / 3;
    position: relative;
    background-color: #fff;
}

#luxembourg::before {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
    background-color: #EF3340;
}

#luxembourg::after {
    content: '';
    height: calc(100% / 3);
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #00A3E0;
}