#n-macedonia {
    aspect-ratio: 2 / 1;
    position: relative;
    background-color: #CE2028;

    --ray-h-offset-x: calc((150% / 14) * sin(30.55deg));
    --ray-h-offset-y: calc((150% / 28) * cos(30.55deg));
}

#n-macedonia .poly1 {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 50%;
    background-color: #F9D616;
    transform: translate(0, -50%);
    clip-path: polygon(100% 50%, 0 100%, 0 0);
}

#n-macedonia .poly2 {
    width: 50%;
    height: 20%;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #F9D616;
    transform: translate(0, -50%);
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

#n-macedonia .poly3 {
    width: 10%;
    height: calc((275% / 7));
    position: absolute;
    left: 50%;
    background-color: #F9D616;
    transform: translate(-50%);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
}

#n-macedonia .poly4 {
    width: 10%;
    height: calc((275% / 7));
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #F9D616;
    transform: translate(-50%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

#n-macedonia .poly5 {
    width: calc(50% + var(--ray-h-offset-y));
    height: calc(50% + var(--ray-h-offset-x));
    position: absolute;
    top: 0;
    background-color: #F9D616;
    clip-path: polygon(0 0,
    calc(30% - var(--ray-h-offset-y)) 0,
        100% 100%);
}

#n-macedonia .poly6 {
    width: calc(50% + var(--ray-h-offset-y));
    height: calc(50% + var(--ray-h-offset-x));
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F9D616;
    clip-path: polygon(0 100%,
        calc(70% + var(--ray-h-offset-y)) 0,
        100% 0);
}

#n-macedonia .poly7 {
    width: calc(50% + var(--ray-h-offset-y));
    height: calc(50% + var(--ray-h-offset-x));
    position: absolute;
    bottom: 0;
    background-color: #F9D616;
    clip-path: polygon(0 100%,
        calc(30% - var(--ray-h-offset-y)) 100%,
        100% 0);
}

#n-macedonia .poly8 {
    width: calc(50% + var(--ray-h-offset-y));
    height: calc(50% + var(--ray-h-offset-x));
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #F9D616;
    clip-path: polygon(0 0,
        calc(70% + var(--ray-h-offset-y)) 100%,
        100% 100%);
}

#n-macedonia .circ {
    aspect-ratio: 1 / 1;
    height: calc((250% / 7));
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #CE2028;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#n-macedonia .circ::after {
    content: '';
    aspect-ratio: 1 / 1;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    background-color: #F9D616;
    border-radius: 50%;
}