#norway {
    aspect-ratio: 11 / 8;
    position: relative;
    background-color: #BA0C2F;

    /* measurement units according to construction sheet */
    --unit-x: calc(100% / 22);
}

#norway > div.rect1 {
    height: 25%;
    position: relative;
    top: 37.5%;
    background-color: #fff;
    z-index: 1;
}

#norway > div.rect1::after {
    content: '';
    height: 50%;
    width: 100%;
    position: absolute;
    top: 25%;
    background-color: #00205B;
}

#norway > div.rect2 {
    width: calc(var(--unit-x) * 4);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--unit-x) * 6);
    background-color: #fff;
}

#norway > div.rect3 {
    width: calc(var(--unit-x) * 2);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--unit-x) * 7);
    background-color: #00205B;
    z-index: 1;
}