#romania {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #FCD116;
}

#romania::before,
#romania::after {
    content: '';
    height: 100%;
    width: calc(100% / 3);
    position: absolute;
}

#romania::before {
    background-color: #002B7F;
}

#romania::after {
    right: 0;
    background-color: #CE1126;
}