#sweden {
    aspect-ratio: 18 / 11;
    position: relative;
    background-color: #006AA7;
}

#sweden div {
    background-color: #FFCD00;
}

#sweden .rect1 {
    height: 20%;
    position: relative;
    top: 40%;
}

#sweden .rect2 {
    width: 12.5%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
}