#aromantic {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #fff;
}

#aromantic > div.upper-pt {
    width: 100%;
    height: calc(200% / 5);
    position: relative;
    background-color: #338733;
}

#aromantic > div.lower-pt {
    width: 100%;
    height: calc(200% / 5);
    position: absolute;
    bottom: 0;
    background-color: #aaa;
}

#aromantic > div.upper-pt::after,
#aromantic > div.lower-pt::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
}

#aromantic > div.upper-pt::after {
    background-color: #AAD77A;
}

#aromantic > div.lower-pt::after {
    background-color: #000;
}