#bigender {
    aspect-ratio: 3 / 2;
    background: linear-gradient(to bottom,
        #C479A2 0 calc(100% / 7),
        #EDA5CD calc(100% / 7) calc(100% / 3.5),
        #D5C7E8 calc(100% / 3.5) calc(150% / 3.5),
        #fff calc(150% / 3.5) calc(100% / 1.75),
        #D5C7E8 calc(100% / 1.75) calc(125% / 1.75),
        #9AC7E8 calc(125% / 1.75) calc(150% / 1.75),
        #6D82D1 calc(150% / 1.75) 100%);
}

#bigender[data-aspect-ratio="3:5"] {
    aspect-ratio: 5 / 3;
}