#flag-progressive {
    aspect-ratio: 3 / 2;
    position: relative;
    background: linear-gradient(to bottom,
        #E50000 0 calc(100% / 6),
        #FF8D00 calc(100% / 6) calc(100% / 3),
        #fe0 calc(100% / 3) calc(150% / 3),
        #028121 calc(150% / 3) calc(100% / 1.5),
        #004CFF calc(100% / 1.5) calc(125% / 1.5),
        #708 calc(125% / 1.5) 100%);

    /* ensures a chevron angle of 45deg */
    --max-chev-width: calc(115.625% / 2.34375);
}

#flag-progressive .chevrons div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#flag-progressive .poly1 {
    background-color: #000;
    /* extended triangle */
    -webkit-clip-path: polygon(var(--max-chev-width) 50%,
        16% 0,
        0 0,
        0 100%,
        16% 100%);
    clip-path: polygon(var(--max-chev-width) 50%,
        16% 0,
        0 0,
        0 100%,
        16% 100%);
}

#flag-progressive .poly2 {
    background-color: #613915;
    /* extended triangle */
    -webkit-clip-path: polygon(calc(var(--max-chev-width) - 8%) 50%,
        8% 0,
        0 0,
        0 100%,
        8% 100%);
    clip-path: polygon(calc(var(--max-chev-width) - 8%) 50%,
        8% 0,
        0 0,
        0 100%,
        8% 100%);
}

#flag-progressive .poly3 {
    background-color: #74D7EE;
    -webkit-clip-path: polygon(calc(var(--max-chev-width) - 16%) 50%, 0 0, 0 100%);
    clip-path: polygon(calc(var(--max-chev-width) - 16%) 50%, 0 0, 0 100%);
}

#flag-progressive .poly4 {
    background-color: #FFAFC8;
    -webkit-clip-path: polygon(calc(var(--max-chev-width) - 24%) 50%, 0 12%, 0 88%);
    clip-path: polygon(calc(var(--max-chev-width) - 24%) 50%, 0 12%, 0 88%);
}

#flag-progressive .poly5 {
    background-color: #fff;
    -webkit-clip-path: polygon(calc(var(--max-chev-width) - 32%) 50%, 0 24%, 0 76%);
    clip-path: polygon(calc(var(--max-chev-width) - 32%) 50%, 0 24%, 0 76%);
}