#genderfluid {
    aspect-ratio: 3 / 2;
    background: linear-gradient(to bottom,
        #FD6EA4 0 20%,
        #fff 20% 40%,
        #BD00D7 40% 60%,
        #000 60% 80%,
        #2F2FBE 80% 100%);
}

#genderfluid[data-aspect-ratio="3:5"] {
    aspect-ratio: 5 / 3;
}