#mlm-flag {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #F1EFFF;
}

#mlm-flag > div.upper-pt {
    width: 100%;
    height: calc(300% / 7);
    position: relative;
    background-color: #26CEAA;
}

#mlm-flag > div.lower-pt {
    width: 100%;
    height: calc(300% / 7);
    position: absolute;
    bottom: 0;
    background-color: #5049CC;
}

#mlm-flag > div.upper-pt::before,
#mlm-flag > div.upper-pt::after,
#mlm-flag > div.lower-pt::before,
#mlm-flag > div.lower-pt::after {
    content: '';
    width: 100%;
    height: calc(100% / 3);
    position: absolute;
}

#mlm-flag > div.upper-pt::before {
    background-color: #078D70;
}

#mlm-flag > div.upper-pt::after {
    bottom: 0;
    background-color: #98E8C1;
}

#mlm-flag > div.lower-pt::before {
    background-color: #7BADE2;
}

#mlm-flag > div.lower-pt::after {
    bottom: 0;
    background-color: #3D1A78;
}