#nonbinary {
    aspect-ratio: 3 / 2;
    background: linear-gradient(to bottom,
        #FFF82F 0 25%,
        #fff 25% 50%,
        #9C4DD2 50% 75%,
        #000 75% 100%);
}

#nonbinary[data-aspect-ratio="3:5"] {
    aspect-ratio: 5 / 3;
}