#pride-flag {
    aspect-ratio: 3 / 2;
}

#pride-flag > .upper-pt,
#pride-flag > .lower-pt {
    width: 100%;
    height: 50%;
    position: relative;
}

#pride-flag > .upper-pt {
    background-color: #FF8D00;
}

#pride-flag > .lower-pt {
    background-color: #004CFF;
}

#pride-flag > .upper-pt::before,
#pride-flag > .upper-pt::after,
#pride-flag > .lower-pt::before,
#pride-flag > .lower-pt::after {
    content: '';
    width: 100%;
    height: calc(100% / 3);
    position: absolute;
}

#pride-flag > .upper-pt::before {
    background-color: #E50000;
}

#pride-flag > .upper-pt::after {
    bottom: 0;
    background-color: #fe0;
}

#pride-flag > .lower-pt::before {
    background-color: #028121;
}

#pride-flag > .lower-pt::after {
    bottom: 0;
    background-color: #708;
}