#transgender {
    aspect-ratio: 3 / 2;
    background: linear-gradient(to bottom,
        #60CFFA 0 20%,
        #F4A8BA 20% 40%,
        #fff 40% 60%,
        #F4A8BA 60% 80%,
        #60CFFA 80% 100%);
}

#transgender[data-aspect-ratio="3:5"] {
    aspect-ratio: 5 / 3;
}