#colombia {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #003893;
}

#colombia::before,
#colombia::after {
    content: '';
    width: 100%;
    position: absolute;
}

#colombia::before {
    height: 50%;
    background-color: #FCD116;
}

#colombia::after {
    height: 25%;
    bottom: 0;
    background-color: #CE1126;
}