/* Peru */

#flag-pe {
    aspect-ratio: 3 / 2;
    background-color: #D91023;
}

#flag-pe div {
    width: calc(100% / 3);
    height: 100%;
    position: relative;
    left: calc(100% / 3);
    background-color: #fff;
}