/* Chile */

#flag-cl {
    aspect-ratio: 3 / 2;
    position: relative;
    background: linear-gradient(to bottom,
        #fff 0 50%,
        #D52B1E 50% 100%);
}

#flag-cl .rect {
    width: calc(100% / 3);
    height: 50%;
    background-color: #0039A6;
}

#flag-cl .star {
    aspect-ratio: 1 / 1;
    height: 50%;
    position: relative;
    top: 25%;
    left: 25%;
    background-color: #fff;
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
}