/* Suriname */

#flag-sr {
    aspect-ratio: 3 / 2;
    position: relative;
    background: linear-gradient(to bottom,
        #377E3F 0 20%,
        #fff 20% 30%,
        #B40A2D 30% 70%,
        #fff 70% 80%,
        #377E3F 80% 100%);
}

#flag-sr .star {
    /* measurements according to construction sheet */
    aspect-ratio: 1 / 1;
    height: 40%;
    position: absolute;
    top: 31.909830055%;
    left: 50%;
    background-color: #ECC81D;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
}