/* Panama */

#flag-pa {
    aspect-ratio: 3 / 2;
    background: linear-gradient(to right,
        #072357 0 50%,
        #DA121A 50% 100%);
}

#flag-pa .rect {
    width: 50%;
    height: 50%;
    background-color: #fff;
}

#flag-pa .rect:last-child {
    position: relative;
    left: 50%;
}

#flag-pa .star {
    aspect-ratio: 1 / 1;
    height: 55.27864045%;
    position: relative;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    /* 5-pointed star measured by cicle */
    -webkit-clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
    clip-path: polygon(50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%);
}

#flag-pa .rect:first-child .star {
    background-color: #072357;
}

#flag-pa .rect:last-child .star {
    background-color: #DA121A;
}