#guyana {
    aspect-ratio: 5 / 3;
    position: relative;
    background-color: #2A936A;
}

#guyana .poly1 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    -webkit-clip-path: polygon(100% 50%, 0 100%, 0 0);
    clip-path: polygon(100% 50%, 0 100%, 0 0);
}

#guyana .poly1::after {
    content: '';
    width: 91.2%;
    height: 91.3%;
    position: absolute;
    top: 4.35%;
    background-color: #FFC20E;
    -webkit-clip-path: polygon(100% 50%, 0 100%, 0 0);
    clip-path: polygon(100% 50%, 0 100%, 0 0);
}

#guyana .poly2 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #000;
    -webkit-clip-path: polygon(100% 50%, 0 100%, 0 0);
    clip-path: polygon(100% 50%, 0 100%, 0 0);
}

#guyana .poly2::after {
    content: '';
    width: 88.34%;
    height: calc(331.25% / 3.75);
    position: absolute;
    top: 50%;
    background-color: #BE1E2D;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-clip-path: polygon(100% 50%, 0 100%, 0 0);
    clip-path: polygon(100% 50%, 0 100%, 0 0);
}