#stvincent-grenadines {
    aspect-ratio: 3 / 2;
    position: relative;
    background-color: #FCD116;
}

#stvincent-grenadines::before,
#stvincent-grenadines::after {
    content: '';
    height: 100%;
    width: 25%;
    position: absolute;
}

#stvincent-grenadines::before {
    background-color: #0072C6;
}

#stvincent-grenadines::after {
    right: 0;
    background-color: #009E60;
}

#stvincent-grenadines div {
    height: calc(100% / 3);
    width: calc(100% / 9);
    position: absolute;
    background-color: #009E60;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#stvincent-grenadines .diam1 {
    left: 50%;
    bottom: 12.5%;
    transform: translate(-50%);
}

#stvincent-grenadines .diam2 {
    left: 37.5%;
    bottom: calc(100% / 3);
}

#stvincent-grenadines .diam3 {
    right: 37.5%;
    bottom: calc(100% / 3);
}