#bangladesh {
    aspect-ratio: 5 / 3;
    background-color: #006a4e;
}

#bangladesh > div {
    width: 40%;
    height: calc((100% / 3) * 2); /* two-thirds */
    position: relative;
    top: calc(100% / 6); /* one-sixth */
    left: 25%;
    background-color: #f42a41;
    border-radius: 50%;
}