#palau {
    aspect-ratio: 8 / 5;
    background-color: #4aadd6;
}

#palau > div {
    width: 37.5%;
    height: 60%;
    position: relative;
    top: 20%;
    left: 25%;
    background-color: #ffde00;
    border-radius: 50%;
}