#peru {
    aspect-ratio: 3 / 2;
    background-color: #d91023;
}

#peru > div {
    width: calc(100% / 3); /* one-third */
    height: 100%;
    position: relative;
    left: calc(100% / 3); /* one-third */
    background-color: #fff;
}